.titulop{
    padding: 0 16px;
    height: 15px;
    font-weight: bold;
    font-size: 15px;
}

.img {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 160px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    height: 64px;

}

.spacer{
    width:10px;
}

